/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@font-face {
  font-family: "DotGothic16";
//   src: url("../fonts/DotGothic16-Regular.woff2") format("woff2")
  src: url("https://db.onlinewebfonts.com/t/02a729900975d9448208fbb5482247af.eot");
  src: url("https://db.onlinewebfonts.com/t/02a729900975d9448208fbb5482247af.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/02a729900975d9448208fbb5482247af.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/02a729900975d9448208fbb5482247af.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/02a729900975d9448208fbb5482247af.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/02a729900975d9448208fbb5482247af.svg#DotGothic16")format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
@font-face {
    font-family: 'Press Start 2P';
    font-style: cursive;
    src: url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap') format('ttf');
}


@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans&family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Pixelify Sans';
  font-style: cursive;
  src: url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans&family=Press+Start+2P&display=swap") format("ttf");
}

@font-face {
    font-family: 'Futura PT';
    src: url('../../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../../fonts/FuturaPT-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT';
    src: url('../../fonts/FuturaPT-DemiObl.woff2') format('woff2'),
        url('../../fonts/FuturaPT-DemiObl.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../../fonts/FuturaPT-Heavy.woff2') format('woff2'),
        url('../../fonts/FuturaPT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../../fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


// fonts
$base-font-size: 15;
$base-font: 'Nunito Sans', sans-serif;
// $base-font: 'DotGothic16', sans-serif;
// $heading-font: 'Futura PT';
$heading-font: 'Pixelify Sans';


// color
$dark-gray: #232f4b;
$body-color: #777777;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black: #777777;
$cyan: #848892;
$black-section-text-color:#CBCBCB;

$theme-primary-color: #05C996;
$theme-primary-color-s2: #003aae;
// $body-bg-color: #F7FAFC;
$body-bg-color: #EDEDED;
$section-bg-color: #f9faff;
$text-color: #444444;
$text-light-color: #676767;
$black-bg-color: #202026;
$black-bg-color-s2: #2C2C32;
$heading-color: $dark-gray;
$border-color: #eeeeee;
$border-color-s2: #eef0fc;
$border-color-black: #3c3c40;


/*---------------------------
	Pixels
----------------------------*/
// @import "node_modules/pixel-borders/src/styles/pixel-borders.scss";


// Add pixel borders with default options
// @include pixel-borders();

// // Available options
// @include pixel-borders(
//   $corner-size: 1,
//   $border-size: 4px,
//   $border-color: #000,
//   $border-inset-color: false
// );

// // Helper method to create custom styles e.g. colour themes, inset border, highlight
// @include pixel-box(
//   $corner-size,
//   $border-size,
//   $background-color,
//   $border-color: false,
//   $border-inset: true,
//   $border-inset-size: false,
//   $border-inset-color: false,
//   $border-inset-sides: false,
//   $border-inset-color-br: false,
//   $border-inset-color-tl: false 
// );